#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "forgejo"
name = "Forgejo"
description.en = "Lightweight software forge"
description.fr = "Forge logiciel légère"

version = "13.0.2~ynh1"

maintainers = [ "Emmanuel Averty", "Josué Tille" ]

[upstream]
license = "GPL-3.0-or-later"
website = "https://forgejo.org"
admindoc = "https://forgejo.org/docs/latest/admin/"
userdoc = "https://forgejo.org/docs/latest/user/"
code = "https://codeberg.org/forgejo/forgejo"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = [ "amd64", "arm64", "armhf" ]
multi_instance = true

ldap = true

sso = true

disk = "150M"
ram.build = "50M"
ram.runtime = "2G"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/forgejo"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.init_admin_permission]
    ask.en = "Which group will have access to forgejo admin page"
    ask.fr = "Quel groupe aura accès à l'administration de forgejo"
    help.en = "Users of this group should have access to Forgejo admin page"
    help.fr = "Les utilisateurs de ce groupe devrait avoir accès à la page d'administration de Forgejo"
    type = "group"
    default = "admins"

[resources]
    [resources.sources.main]
    amd64.url = "https://codeberg.org/forgejo/forgejo/releases/download/v13.0.2/forgejo-13.0.2-linux-amd64.xz"
    amd64.sha256 = "b59ef12474e3d6f5b720b1b2cf1e0f5b577dfdbf022063191f9bfdade137a095"
    arm64.url = "https://codeberg.org/forgejo/forgejo/releases/download/v13.0.2/forgejo-13.0.2-linux-arm64.xz"
    arm64.sha256 = "a83ac9f990dd8ef3a1419ac6d146fadccaf1929a2b7e55639614c1fa27d2a68c"
    armhf.url = "https://codeberg.org/forgejo/forgejo/releases/download/v13.0.2/forgejo-13.0.2-linux-arm-6.xz"
    armhf.sha256 = "5915d192b5b1e547210afdaf0870fedc156d38979c46b29a88c6f83a29396ced"
    format = "whatever"
    extract = false
    rename = "forgejo.xz"

    autoupdate.asset.amd64 = "^forgejo-.*-linux-amd64.xz$"
    autoupdate.asset.arm64 = "^forgejo-.*-linux-arm64.xz$"
    autoupdate.asset.armhf = "^forgejo-.*-linux-arm-6.xz$"
    autoupdate.strategy = "latest_forgejo_release"

    [resources.system_user]
    allow_ssh = true
    allow_email = true

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    admin.show_tile = false
    admin.auth_header = false
    admin.protected = true

    api.url = "/api"
    api.show_tile = false
    api.allowed = "visitors"
    api.auth_header = false

    container_registry.show_tile = false
    container_registry.auth_header = false
    container_registry.label = "Container registry"
    container_registry.url = "__DOMAIN__/v2"
    container_registry.allowed = "visitors"

    [resources.ports]
    main.default = 6000

    [resources.apt]
    packages = "postgresql"

    [resources.database]
    type = "postgresql"
